.yellow {
    color: yellow;
    font-size: 120px;
    margin: 0 36%;
  }

.titolo{
    color: rgba(255, 221, 0, 0.919);
    font-size: 120px;
    margin: 10px 41.3%;
}
  
  .red {
    color: red;
    font-size: 90px;
  
  }
  

  .green1 {
    color: rgb(1, 73, 1);
    font-size: 90px;
    
  }
  .green2 {
    color: rgb(0, 233, 31);
    font-size: 90px;
 
  }
  .orange{
    color:orange;
    font-size: 90px;
    
  }