.stile{
    height: 28px;width: 35px; border-radius: 15px;background-color: firebrick;margin: 0 -42.2%;
}
#parte1{
    width: 175px;height: 20px;border-radius: 15px;margin: 5px 42.5%;
}
#parte2{
    height: 28px;width: 35px; border-radius: 15px;background-color: firebrick;
}